<?php
/**
 * Created by PhpStorm.
 * User: Guangpeng Chen
 * Date: 1/15-015
 * Time: 11:54
 * 说明：在这里定义自己的环境，不加入git版本控制
 */
//define('ENV', 'PRODUCTION');//生产环境
//define('ENV', 'TEST');//外网测试环境
define('ENV', 'DEVELOP');//本地开发环境